body {
    background-color: blanchedalmond;
    font-family: monospace;
    font-size: 20px;
}

#cabecalho {
    position: fixed;
    z-index: 1;
    text-align: center;
    padding: 20px;
    margin: 0;
    width: 100%;
    border: 1px solid rgb(2, 2, 2);
    top: 0;
}
#titulo {
    color: bisque;
    background-color: brown;
    font-size: 25px;
}

img {
    width: 20%;
    text-align: center;
    border: 5px solid rgb(126, 59, 59);
    border-radius: 45%;

}

#minha_foto {
    text-align: center;
    width: 250px;
    padding-top: 50 px;
}

div {
    width: fit-content;
}

ul {
    text-align: center;
    line-height: 25px;
    padding-right: 200px;
}

.conteudo {
   
    padding-bottom: 200px;
    display: flex;
    text-align: center;
    padding: 0 33% 0 33%;
    width: fit-content;
}

#hab-prof {
    text-decoration: underline;
    background-color: rgb(247, 168, 139);
}

#hab-pess {
    text-decoration: underline;
    background-color: rgb(248, 199, 181);
}

#contatos {
    text-decoration: underline;
    background-color:rgb(253, 225, 216);
}

#minha_foto {
    text-align: center;
    margin-top: -2%;
    margin-bottom: 10%;
}